{% extends "post/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" class="flex flex-col items-center">
    {% csrf_token %}
    <fieldset>
        {{ form|crispy }}
    </fieldset>
    <button type="submit">Post</button>
</form>

<ul>
    {% for post in posts %}
    <li class="my-2">
        <article class="flex">
            <a class="mr-4" href="{% url 'post-details' post.pk %}">
                <legend>{{ post.author }} - {{post.date_created}}</legend>     
                <p>{{ post.content }}</p>
            </a>
        </article>
    </li>
    {% endfor %}
</ul>

{% endblock %}