{% extends "post/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="profile-container flex">
    <section class="profile-details-container bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1>{{user.username}}</h1>
        <form class="form-container" method="post">
            {% csrf_token %}
            <fieldset>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <button
               class="mt-4 bg-blue-500 hover:bg-blue-700 text-white  py-2 px-4 rounded focus:outline-none focus:shadow-outline"
               type="submit">Save</button>
        </form>
        <a href="{% url 'user-delete' user.id %}">Delete</a>
    </section>
    <section class="profile-posts-container ml-8 pl-4 border-l-2 border-solid border-gray-300">
        <ul>
            {% for post in posts %}
            <li class="my-2">
                <article class="flex">
                    <a class="mr-4" href="{% url 'post-details' post.pk %}">
                        <legend>{{ post.author }} - {{post.date_created}}</legend>
                        <p>{{ post.content }}</p>
                    </a>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}